# Terraform state files
*.tfstate
*.tfstate.*

# Terraform working directory
.terraform/
.terraform.lock.hcl

# Sensitive variable files
terraform.tfvars

# Logs
crash.log

# SSH keys
*.pem
*.key

# Editor folders
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store
